* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    height: 60px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: cadetblue;
    font-size: 1.4rem;
    color: white;
    font-weight: 600;
    box-shadow: 10px 10px 5px lightgray;
}

.btn:hover {
    background-color: khaki;
    color: goldenrod;
}

b {
    padding-left: 1rem;
}